@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1>În cazul unei probleme, vă rugăm să ne contactaţi la numărul de telefon sau adresa de e-mail</h1>
</div>
<p>Număr de telefon: 0123456789</p>
<p>E-mail: listajocurivideo@gmail.com</p>
